*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$fontopensans : 'Open Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
:root{
    --primary-bg: hsl(250,69%,61%);
}
@media screen and (max-width:1024px) {
    .container{
        position: relative;
        width: 100%;
        min-height: 100vh;
        header{
            width: 100%;
        }
        .banner-profile{
            width: 100%;
            .container-banner-profile{
                width: 100%;
            }
        }
        section.about-profile{
            padding: 50px 10px;
            .container-about-profile{
                width: 100%;
            }
        }
        section.skills-profile{
            padding: 50px 10px;
            .container-skills-profile{
                width: 100%;
            }
        }
        section.experience-profile{
            padding: 50px 10px;
            .container-experience-profile{
                width: 100%;
                .row-container-experience-profile{
                    .box-experience-1::after{
                        left: 48.7%;
                    } 
                    .box-experience-2::before{
                        right: 47.6%;
                    }
                }
            }
        }
        section.gallery-profile{
            padding: 50px 10px;
            .container-gallery-profile{
                width: 100%;
                .row-gallery-profile{
                  .box-gallery{
                      width: 300px;
                  }  
                }
                .modal__gallery{
                    width: 100%;
                    .modal__pict{
                        width: 100%;

                    }
                }
            }
        }
        section.contact-profile{
            padding: 50px 10px;
            .container-contact-profile{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .container{
        position: relative;
        width: 100%;
        min-height: 100vh;
        header{
            width: 100%;
            .hamburger{
                width: 35px;
                height: 25px;
                position: absolute;
                top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background-color: unset;
                right: 25px;
                cursor: pointer;
                z-index: 300;
                span.bar{
                    width: 100%;
                    height: 3px;
                    background-color: #000;
                    border-radius: 10px;
                    transition: 0.5s;  
                }
            }
            nav{
                width:100%;
                position: fixed;
                top: 0;
                display: block;
                left: 0;
                bottom: 100%;
                right: 0;
                height: 0;
                overflow-y: hidden;
                background-color: var(--primary-bg);
                z-index: 200;
                transition: 0.5s ease-in;
                ul{
                    margin-top: 15%;
                    text-align: center;
                    li{
                        margin: 70px 0px;
                        padding: 10px 0px;
                        display: block;
                    }
                }
            }
            .hamburger.rotate{
                span.bar:first-child{
                    transform: rotate(45deg) translate(7px,7px);
                    transition: 0.5s;
                }
                span.bar:nth-child(2){
                    transform: translateX(20px);
                    opacity: 0;
                }
                span.bar:last-child{
                    color: #fff;
                    transform: rotate(-45deg) translate(9px,-8px);
                }
            }
            .hamburger.color{
                span.bar{
                    background-color: #fff;
                }
            }
            nav.show{
                bottom:0%;
                height: 100vh;
                transition: 0.5s;
            }

        }
        header.sticky{
            padding: 3% 0%;
            .hamburger.hamburgerSticky{
              display: flex;
            }
        }
        .banner-profile{
            width: 100%;
            .container-banner-profile{
                width: 100%;
                .box-banner-profile{
                    width: 400px;
                    .text-banner{
                        h1{
                            font-size: 25px;
                        }
                    }
                }
                .box-banner-profile-img{
                    width: 40%;
                }
            }
        }
        section.about-profile{
            padding: 50px 10px;
            .container-about-profile{
                width: 100%;
                .row-about-profile{
                    margin-top: 10%;
                    .box-about-profile-img{
                        width: 340px;
                    }
                    .box-about-profile{
                        width: 300px;
                    }
                }
            }
        }
        section.skills-profile{
            padding: 50px 10px;
            .container-skills-profile{
                width: 100%;
                .row-skills-profile{
                    .box-skills-front{
                        width: 400px;
                        .text-front{
                            span{
                                margin-right: 50px;
                            }
                        }
                    }
                    .box-skill-ms{
                        width: 350px;
                        padding: 0px;
                        margin-top: 12px;
                        .text-box-skill-ms{
                            span{
                                margin-right: 50px;
                            }
                        }
                    }
                }
            }
        }
        section.experience-profile{
            padding: 50px 10px;
            .container-experience-profile{
                width: 100%;
                .row-container-experience-profile{
                    width: 100%;
                    .box-experience-1{
                        .box-experience{
                            width: 45%;
                            .text-experience{
                                align-items: center;
                                h3{
                                    font-size: 15px;
                                }
                                span{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .box-experience-1::after{
                        left: 48.4%;
                    }
                    .box-experience-2{
                        .box-experience{
                            width: 45%;
                            .text-experience{
                                align-items: center;
                                h3{
                                    font-size: 15px;
                                }
                                span{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .box-experience-2::before{
                        right: 47%;
                    }
                }
            }
        }
        section.gallery-profile{
            padding: 50px 10px;
            .container-gallery-profile{
                width: 100%;
                .row-gallery-profile{
                    .box-gallery{
                        width: 350px;
                    }
                }
            }
        }
        section.contact-profile{
            padding: 50px 10px;
            .container-contact-profile{
                width: 100%;
                .row-contact-profile{
                    .box-contact{
                        width: 400px;
                    }
                    .box-input-profile{
                        width: 500px;
                        form{
                            .input-group{
                                width: 100%;
                                input.subject[type="text"]{
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:570px){
    .loader{
        width: 100%;
        h1{
            font-size: 20px;
            display: inline-block;
            margin-top: 40%;
            margin-left: 20%;
        }
        .loader-inside{
            left: 35%;
        }
    }
    .container{
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        header{
            width: 100%;
            .logo{
                margin-left: 17px;
                margin-top: 5px;
            }
            nav{
                position: fixed;
                bottom: 0;
                top: 120%;
                width: 100%;
                display: block;
                left: 0;
                right: 0;
                z-index: 300;
                height: 300px;
                overflow-y: hidden;
                transition: 0.5s ease-in;
                background-color: var(--primary-bg);
                ul{
                    list-style-type: none;
                    text-align: center;
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    justify-content: center;
                    li{
                       display: inline-block;
                       width: 120px;
                       margin: 20px 0px;
                       a{
                           font-size: 13px;
                           height: auto;
                           display: flex;
                           flex-direction: column;
                           i{
                               font-size: 20px;
                           }
                       }
                     }
                }
            }
            .hamburger{
                width: 30px;
                height: 20px;
                position: fixed;
                top: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background-color: unset;
                right: 20px;
                cursor: pointer;
                z-index: 300;
                span.bar{
                    width: 100%;
                    height: 3px;
                    background-color: var(--primary-bg);
                    border-radius: 10px;
                    transition: 0.5s;  
                }
            }
            .hamburger.color{
                span.bar{
                    background-color: var(--primary-bg);
                }
            }
            nav.show{
                top: 70%;
                overflow-y: hidden;
            }
            .hamburger.rotate{
                transform:rotate(360deg);
                transition: 0.5s ease-in;
                span.bar:first-child{
                    transform: rotate(46deg) translate(7px,7px);
                    transition: 0.5s;   
                }
                span.bar:nth-child(2){
                    transform: translateX(10px);
                    transition: 0.5s;
                    opacity: 0;
                }
                span.bar:last-child{
                    transform: rotate(-46deg) translate(5px,-5px);
                    transition: 0.5s;
                }
            }
        }
        header.sticky{
            padding: 3% 0%;
        }
        section.banner-profile{
             width: 100%;
            .container-banner-profile{
                flex-direction: column-reverse;
                justify-content: center;
                .box-banner-profile{
                    width: 90%;
                    .text-banner{
                        h1{
                            font-size: 20px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
                .box-banner-profile-img{
                    width: 80%;
                    margin-right: 0%;
                    margin-top: 20%;
                }
                .modal-cv{
                    width: 100%;
                    .modal-content{
                        width: 90%;
                    }
                }
            }
        }
        section.about-profile{
             padding: 100px 20px;
            .container-about-profile{
                width: 100%;
                h1{
                    text-align: center;
                }
                h1::before{
                    left: 15%;
                }
                h1::after{
                    right: 20%;
                }
                .row-about-profile{
                    flex-direction: column-reverse;
                    margin-top: 20%;
                    .box-about-profile-img{
                        width: 95%;
                        margin-left: 0%;
                        margin-top: 7%;
                    }
                    .box-about-profile{
                        width: 100%;
                        margin: 0px;
                    }
                }
                .modal-cv{
                    width: 100%;
                    .modal-content{
                        width: 90%;
                        margin: 20% auto;
                    }
                }
            }
        }
        section.skills-profile{
             padding: 100px 10px;
            .container-skills-profile{
                h1::before{
                    left: 20%;
                    width: 100px;
                }
                h1::after{
                    width: 100px;
                    right: 20%;
                }
                .row-skills-profile{
                    flex-direction: column;
                    .box-skills-front{
                        width: 100%;
                        margin-top: 7%;
                        margin-left: 0%;
                        .text-front{
                            span{
                                margin-right: 0px;
                            }
                        }
                    }
                    .box-skill-ms{
                        width: 100%;
                        padding: 10px;
                        margin-top: 5%;
                        .text-box-skill-ms{
                            span{
                                margin-right: 0px;
                            }
                        }
                        .box-skills-inside-ms.insideMs.skillActiveMS{
                            height: 300px;
                        }
                    }
                }
            }
        }
        section.experience-profile{
            padding: 20px 10px;
            .container-experience-profile{
                width: 100%;
                h1::before{
                    left: 15%;
                    width: 100px;
                }
                h1::after{
                    width: 100px;
                    right: 0;
                }
                .row-container-experience-profile{
                    width: 100%;
                    .line{
                        left: 0;
                        width: 5px;
                    }
                    .box-experience-1{
                        width: 100%;
                        .box-experience{
                            width: 90%;
                            margin-left: 20px;
                            .text-experience{
                                h3{
                                    font-size: 18px;
                                }
                                span{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .box-experience-1::after{
                      left: -8px;
                      width: 20px;
                      height: 20px;
                    }
                    .box-experience-2{
                        width: 100%;
                        justify-content: flex-start;
                        .box-experience{
                            width: 90%;
                            margin-left: 22px;
                            .text-experience{
                                h3{
                                    font-size: 18px;
                                }
                                span{
                                    font-size: 12px;
                                }
                            }
                            p{
                                text-align: justify;
                            }
                        }
                    }
                    .box-experience-2::before{
                        left: -8px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        section.gallery-profile{
            padding: 100px 10px;
            .container-gallery-profile{
                width: 100%;
                h1::before{
                    left: 7%;
                    width: 100px;
                }
                h1::after{
                    width: 100px;
                    left: 65%;

                }
                .row-gallery-profile{
                    .box-gallery{
                        width: 95%;
                        margin: 20px auto;
                    }
                }
                .modal__gallery{
                    width: 100%;
                    .modal__pict{
                        width: 100%;

                    }
                }
            }
        }
        section.contact-profile{
            padding: 50px 15px;
            .container-contact-profile{
                width: 100%;
                padding: 0px;
                h1::before{
                    left: 15%;
                    width: 100px;
                }
                .row-contact-profile{
                    flex-direction: column;
                    margin-top: 20%;
                    .box-contact{
                        width: 90%;
                    }
                    .box-input-profile{
                        width: 100%;
                        form{
                            padding: 10px;
                            .input-group{
                                width: 100%;
                                input[type="text"]{
                                    width: 95%;
                                    margin: 20px 0px;
                                }
                                textarea{
                                    width: 95%;
                                    margin: 10px 0px;
                                }
                                input.subject[type="text"]{
                                    width: 95%;
                                }
                            }
                            button{
                                margin: 20px 0px;
                            }
                            .input-group.text{
                                width: 100%;
                                flex-direction: column;
                            }
                        }
                    }
                }
                .modal{
                    width: 100%;
                    .modal-content-input{
                        width: 90%;
                        margin-top: 40%;
                    }
                }
                .modal-cv{
                    width: 100%;
                    .modal-content{
                        width: 90%;
                        margin: 20% auto;
                        h3{
                            font-size: 18px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:375px) {
    .container{
        width: 100%;
        position: relative;
        min-height: 100vh;
        overflow-x: hidden;
        header{
            width: 100%;
            .hamburger{
                top: 50%;
            }
            nav.show{
                top: 60%;
                overflow-y: hidden;
                z-index: 400;
                width: 100%;
                ul{
                    li{
                        width: 100px;
                        a{
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }
    }
}